body {
    font-family: sans-serif;
    margin: 0 30% 0 30%;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

a {
    text-decoration: none;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: #148585;
}

ul {
    list-style-type: none;
}

h1 {
    font-size: 1.4em;
}

img {
    display: block;
    margin: auto;
}

#head img {
    display: inline;
}

.iQuant {
    font-weight: bold;
    font-size: 1em
}

.iType {
    font-size: 0.95em;
    font-style: italic;
}

.recipe {
    border-bottom: 1px solid black;
    padding: 0 10px 0 10px;
}

#head {
    padding: 0;
    background-color: #510c0c;
    height: 100px;
}

#tContents {
    text-align: center;
    position: fixed;
    width: 756px;
    border: 1px solid black;
    bottom: 0;
    background-color: #510c0c;
    color: white;
}

#tContents ul {
    padding: 0;
    margin: 0;
}

#tContents li {
    font-family: serif;
    font-size: 1.10em;
    display: inline-block;
    width: 30%;
    margin: auto;
    padding: 5px;
}

#bpSalad {
    padding-bottom: 50px;
    border: none;
}

#gcGrits {
    border-top: 1px solid black;
}