body {
    background-color: lightgray;
    font-family: sans-serif;
}

#head h1 {
    text-align: center;
    color: gray;
    font-size: 60px;
}

#main {
    margin: 0 30% 0 30%;
    border-top: 20px solid black;
}

#entry {
    font-style: italic;
    color: lightgray;
    background-color: white;
    font-size: 20px;
    border: 1px dotted gray;
}

.eItem {
    background-color: white;
    font-size: 20px;
    border: 1px dotted gray;
}

.checkbox {
    border-right: 1px double red;
    margin-right: 10px;
}

#navbar {
    border: 1px solid gray;
    position: relative;
}

#lNav {
    position: absolute;
    top: 0;
    left: 0;
}

#navbar ul {
    text-align: center;
    padding: 0;
    margin: 0;
}

#navbar li {
    display: inline;
    list-style-type: none;
}

#foot {
    text-align: center;
    margin-top: 40px;
}

#foot li {
    margin-top: 10px;
    list-style-type: none;
}

.fLink {
    text-decoration: underline;
}